[defaults]
inventory = ./inventories/aws_ec2.yml
remote_user = ec2-user
private_key_file = ../../ssh-key
host_key_checking = False
retry_files_enabled = False
ansible_python_interpreter=/usr/bin/python3

[inventory]
enable_plugins = amazon.aws.aws_ec2
